body {
    margin: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

h1 {
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center
}

h2 {
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #054FB9;
}

h3 {
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #B51963;
}

p {
    line-height: 150%;
}

img {
    margin: 20px;
    border: solid 5px #054FB9;
    padding: 10px;
    border-top-right-radius: 30px;
}

ul {
    list-style-type: square;
    margin-left: 50px;
    display: inline-block;
}

ol {
    list-style-type: lower-roman;
    margin-left: 50px;
    display: inline-block;
}